*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  
}

img{
  width: 70px;
  height: 70px;
  margin-top: 30px;
  border-radius: 60px;
}

a{
  display: block;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
 
}

#slack{
  display: none;
}

#btn_zuri{
  
  background-color: #EAECF0;
  width: 700px;
  border-radius: 10px;

}

#books{
 
  background-color: #EAECF0;
  width: 700px;
  border-radius: 10px;

}

#book_python{
  
  background-color: #EAECF0;
  width: 700px;
  border-radius: 10px;

}

#twitter{
  
  background-color: #EAECF0;
  width: 700px;
  border-radius: 10px;

}

#pitch{
  
  background-color: #EAECF0;
  width: 700px;
  border-radius: 10px;

}

#book_design{
  
  background-color: #EAECF0;
  width: 700px;
  border-radius: 10px;
  text-align: center;

}
.footer{
  display: flex;
  margin-left: 70px;
  margin-top: 70px;
 
}

h5{
  margin-left: 300px;
}

.glo{
  width: 30px;
  height: 30px;
}

.globe{
  display: inline-flex;
  float: right;
  margin-left: 280px;
 
}

.slack{
 display: inline-flex;
 
}

span{
  color:#E7332B
}
 
@media only screen and (min-width:320px) and (max-width:1128px) {
  .App{
      overflow-x: hidden;
      overflow-y: hidden;
  }
  
}

@media only screen and (min-width:320px) and (max-width:1128px) {
  #twitter, #books, #pitch, #book_design, #book_python, #btn_zuri{
      width: 350px;
      text-align: center;
         
  }
  
}

@media only screen and (min-width:320px) and (max-width:1128px) {
  h5,h2{
    margin-left: -40px; 
    margin-bottom: auto;
  }
  
}

@media only screen and (min-width:320px) and (max-width:1128px) {
  .sla{
    width: 40px; 
    height: 40px;
  }
  
}

@media only screen and (min-width:320px) and (max-width:1128px) {
  .footer{
     display: inline-block;
     margin-top: 5px;
     margin-left: -250px;
     
  }
  
}

@media only screen and (min-width:320px) and (max-width:1128px) {
  .globe{
      display: inline-flex;
      padding-right: 400px;
    }
     
  }
  

